@import "main.css";

.notes {
    margin: auto;
    width: 900px;
    border-radius: 20px;
    padding: 20px;
    background-color: var(--secondary);
}

em {
    color: var(--link);
}

.closed {
    color: red;
}

.open {
    color: green;
}

.artwork-info {
    padding: 20px;
}

.example-list {
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.example {
    width: 275px;
    margin: 10px;
    border-radius: 20px;
    border: 5px solid var(--tertiary);
    display: inline-block;
}