:root {
  /* eggrens colours */
  --stripe-one: #AAD6BE;
  --stripe-two: #7CC3C5;
  --stripe-three: #428396;
  /* denizen_deerjay / dark colours */
  --stripe-one-dark: #552941;
  --stripe-two-dark: #833C3A;
  --stripe-three-dark: #BD7C69;

  /* website colours (default to light) */
  --primary: var(--stripe-one);
  --secondary: var(--stripe-two);
  --tertiary: var(--stripe-three);
  --offwhite: #E0E0E0;
  --cyblack: #031D27;
  --main-text: var(--cyblack);
  --grid: linear-gradient(to right, rgba(0,0,0, 0.6) 0 100%), url("/assets/grid.gif");
}

body {
  color: var(--main-text);
  font-family: "Courier New", Courier, monospace;
  background-color: var(--offwhite);
  background-image: url("/assets/um-colours-bg.png");
  background-attachment: fixed;
  background-position-y: 50%;
  /* background: var(--light-bg);
  background: linear-gradient(180deg,var(--light-bg) 0%, var(--stripe-green) 43%, var(--stripe-cyan) 73%, var(--stripe-blue) 100%); */
}

/* a:link {
  color: var(--offwhite);
}

a:visited {
  color: var(--stripe-blue);
}

a:hover {
  color: #ffffff;
} */

.top {
  width: 1000px;
  height: 300px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.main {
  margin: auto;
  width: 1000px;
  padding: 10px;
  background-color: var(--primary);
  border: solid 10px var(--tertiary);
  border-radius: 20px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clickable {
  cursor: pointer;
}

button, input, select {
  color: var(--cyblack);
  font-family: "Courier New", Courier, monospace;
}

.flag {
  height: 30px;
  width: 60px;
}